* {
    margin: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    color: rgb(99, 97, 97);
    box-sizing: border-box;

}

body {
    background-color: rgb(240, 240, 240);
    /* margin-top: 10px; */
}

a{
    text-decoration: none;
}

.header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__logo img{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.header-nav{
    margin: 10px;
    padding: 10px;
}

.header-nav__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.header-nav__link{
    display: flex;
    align-items: center;
    padding: 5px;
    width: auto;
    height: 40px;
    text-align:center;
}

.header-nav__link:hover {   
    /* border: 0.1px solid #c6c6c6; */
    border-radius: 5px;
    box-shadow: 0 1px 2px #b5b5b9;
    background-color: rgba(0, 0, 0, 0.02) ;

}

.header-nav__icons {
    width: 20px;
    height: 20px;
    font-size: 20px;
    
}



header p {
    font-size: 13px;
    color: rgb(59, 58, 58);
    font-weight:500;

}

.header-login {
    display: flex;
    align-items: center;


}

.header-login__icon {
    font-size:30px;
    width: 30px;
    height: 30px;
    text-align: center;
}